build/
MonoDir*/
lib/
exec/
externalpackages/
include/
env/
env_TRUST.sh
Makefile
*.log

# XDATA stuff

Outils/TRIOXDATA/IHMTRIO.sh
Outils/TRIOXDATA/TRIOU/TRIOU_SRC/src/
Outils/TRIOXDATA/TRIOU/dist/
Outils/TRIOXDATA/XDATA.sh
Outils/TRIOXDATA/XDATA/
Outils/TRIOXDATA/XTriou/Keywords.txt
Outils/TRIOXDATA/XTriou/TRAD_1.ver
Outils/TRIOXDATA/XTriou/TRAD_2
Outils/TRIOXDATA/XTriou/doc.pdf
Outils/TRIOXDATA/XTriou/doc/
Outils/TRIOXDATA/XTriou/existepas.stop
Outils/TRIOXDATA/XTriou/gencl.py
Outils/TRIOXDATA/XTriou/menu/
Outils/TRIOXDATA/XTriou/syno.py
Outils/TRIOXDATA/XTriou/test
Outils/TRIOXDATA/XTriou/tests/
Outils/TRIOXDATA/XTriou/traces
Outils/TRIOXDATA/XTriou/triou.py
Outils/TRIOXDATA/XTriou/update_xd

