# Build stuff
build/
/MonoDir*/
/exec/
/externalpackages/
/externalpackages
/include/
/lib/
/env/
/env_TRUST.sh
Makefile
*.log
convert_jdd
/gcov/
hierarchie.dump
liste_cas
md5.check
__pycache__
.toto
.check_sources.ok

# XDATA stuff

Outils/TRIOXDATA/IHMTRIO.sh
Outils/TRIOXDATA/TRIOU/TRIOU_SRC/src/
Outils/TRIOXDATA/TRIOU/dist/
Outils/TRIOXDATA/XDATA.sh
Outils/TRIOXDATA/XDATA/
Outils/TRIOXDATA/XTriou/Keywords.txt
Outils/TRIOXDATA/XTriou/TRAD_1.ver
Outils/TRIOXDATA/XTriou/TRAD_2
Outils/TRIOXDATA/XTriou/doc.pdf
Outils/TRIOXDATA/XTriou/doc/
Outils/TRIOXDATA/XTriou/existepas.stop
Outils/TRIOXDATA/XTriou/gencl.py
Outils/TRIOXDATA/XTriou/menu/
Outils/TRIOXDATA/XTriou/syno.py
Outils/TRIOXDATA/XTriou/test
Outils/TRIOXDATA/XTriou/tests/
Outils/TRIOXDATA/XTriou/traces
Outils/TRIOXDATA/XTriou/triou.py
Outils/TRIOXDATA/XTriou/update_xd
Outils/TRIOXDATA/XTriou/TRAD_2.mod

# ICoCo
Outils/ICoCo/ICoCo_src/README.BALTIK
Outils/ICoCo/ICoCo_src/configure
Outils/ICoCo/ICoCo_src/env_MEDICoCo.sh
Outils/ICoCo/ICoCo_src/full_env_MEDICoCo.sh
Outils/Python_modules/distribute-0.6.28/
Outils/Python_modules/distribute-0.7.3/
Outils/ICoCo/ICoCo_src/share/swig/install/

# Doc
doc/Coverage/dico.pkl
doc/Coverage/html/
doc/Coverage/list_methodes
doc/Coverage/list_methodes_non_appelees
doc/TRUST/Keywords.Vim
doc/TRUST/TRUST_Generic_Guide.pdf
doc/TRUST/Tutorial/LOG
doc/TRUST/Tutorial/TRUST_tutorial.aux
doc/TRUST/Tutorial/TRUST_tutorial.idx
doc/TRUST/Tutorial/TRUST_tutorial.nav
doc/TRUST/Tutorial/TRUST_tutorial.out
doc/TRUST/Tutorial/TRUST_tutorial.snm
doc/TRUST/Tutorial/TRUST_tutorial.toc
doc/TRUST/exercices/Tutorial_solutions.pdf
doc/html/
src/Readme_eclipse.pdf
doc/TRUST/Tutorial/ICoCo_tutorial.pdf
doc/TRUST/Tutorial/TRUST_tutorial.pdf
doc/TRUST/Tutorial/Baltik_tutorial.pdf

# Eclipse
.cproject
.project
.settings/

