# description section (required)
[description] 
name       : basic_bidon        # name of the project    (required)
author     : G Fauchet  # author of the project  (optional, not used)
executable : test_depend        # name of the executable (optional, used if present)

# dependencies section (optional)
# dependencies format is the following
#
# dependency_name : /path/to/dependency

[dependencies]
# basic:`pwd`/../basic_ok
# actually, basic doesn't have dependencies
